asgiref==3.12.1
chardet==7.6.0
Django==6.0.7
djangorestframework==3.17.1
dotenv==0.9.9
et_xmlfile==2.0.0
ezdxf==1.4.4
fonttools==4.63.0
ifcopenshell==0.8.5
numpy==2.5.2
openpyxl==3.1.5
pillow==12.3.0
pyparsing==3.3.2
python-dotenv==1.2.3
reportlab==4.2.2
sqlparse==0.5.5
typing_extensions==4.16.0